node_modules/
!/.gitattributes
!/.projen/tasks.json
!/.projen/deps.json
!/.projen/files.json
!/LICENSE
!/.pre-commit-config.yaml
/.next/
/out/
/coverage
.DS_Store
*.pem
npm-debug.log*
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
!/biome.json
!/.github/workflows/main.yml
!/.github/workflows/release.yml
!/tsconfig.json
!/vitest.config.mts
!/postcss.config.mjs
!/next.config.ts
!/vercel.json
!/.github/mergify.yml
!/.github/renovate.jsonc
